name: Generate Terminal Metrics

on:
  schedule:
    - cron: "0 0 * * *"   # runs daily
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest

    steps:
      - name: Generate metrics SVG
        uses: lowlighter/metrics@latest
        with:
          # REQUIRED
          user: KamalasankariSubramaniakuppusamy
          token: ${{ secrets.METRICS_TOKEN }}

          template: terminal
          base: header, activity

          config_display: large
          config_timezone: America/New_York
          config_output: svg
          filename: metrics.svg

          plugin_activity: yes
          plugin_activity_limit: 5
          plugin_activity_days: 14
          plugin_activity_filter: issue, pr, commit

          plugin_lines: yes
          plugin_lines_sections: base

          plugin_languages: no
          plugin_stars: no
          plugin_followup: no
          plugin_repositories: no
          plugin_topics: no
          plugin_people: no
          plugin_reactions: no

      - name: Push metrics to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
