name: Generate Terminal Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          user: KamalasankariSubramaniakuppusamy
          token: ${{ secrets.METRICS_TOKEN }}

          # Output
          filename: metrics.svg
          output_action: commit
          output_condition: always
          committer_branch: output

          # Layout
          template: terminal
          base: header
          config_display: large
          config_timezone: America/New_York
          config_output: svg

          # Keep it fast & stable
          plugin_activity: no
          plugin_languages: no
          plugin_lines: no
          plugin_stars: no
          plugin_followup: no
          plugin_repositories: no
          plugin_topics: no
          plugin_people: no
          plugin_reactions: no
          plugin_habits: no
          plugin_contributors: no
          plugin_isocalendar: no
