name: Generate Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          user: KamalasankariSubramaniakuppusamy
          token: ${{ secrets.GITHUB_TOKEN }}

          template: terminal
          base: header
          config_display: large
          config_timezone: America/New_York
          config_output: svg
          filename: metrics.svg

          plugin_activity: no
          plugin_languages: no
          plugin_stars: no
          plugin_people: no
          plugin_repositories: no
